.login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login .overlap-wrapper {
    background-color: #ffffff;
    overflow: hidden;
    width: 1512px;
    height: 982px;
}

.login .text-wrapper {
    position: absolute;
    width: 609px;
    top: 885px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 56px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.login .background-image {
    position: absolute;
    width: 1512px;
    height: 982px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.login .div {
    position: absolute;
    width: 681px;
    top: 271px;
    left: 0;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 56px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.login .div-2 {
    position: absolute;
    width: 340px;
    height: 487px;
    top: 351px;
    left: 173px;
}

.login .overlap-group {
    position: absolute;
    width: 334px;
    height: 118px;
    top: 300px;
    left: 0;
}

.login .username-box {
    position: absolute;
    width: 334px;
    height: 51px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 30px;
}

.login .password-box {
    position: absolute;
    width: 334px;
    height: 51px;
    top: 66px;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 30px;
}

.login .text-wrapper-2 {
    position: absolute;
    width: 216px;
    top: 9px;
    left: 59px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #9b9b9b;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.login .text-wrapper-3 {
    position: absolute;
    width: 216px;
    top: 74px;
    left: 59px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #9b9b9b;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}