.regional-manager {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.regional-manager .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1512px;
  height: 982px;
  position: relative;
}

.regional-manager .top-banner {
  position: absolute;
  width: 1610px;
  height: 130px;
  top: 0;
  left: 0;
}

.regional-manager .overlap-group {
  position: relative;
  height: 130px;
}

.regional-manager .purple {
  position: absolute;
  width: 1440px;
  height: 130px;
  top: 0;
  left: 170px;
  background-color: #4e148c;
}

.regional-manager .fedex-logo {
  position: absolute;
  width: 240px;
  height: 130px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.regional-manager .symbols {
  position: absolute;
  width: 178px;
  height: 69px;
  top: 30px;
  left: 1300px;
}

.regional-manager .text-wrapper {
  position: absolute;
  top: 0;
  left: 139px;
  font-family: "Jua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 55px;
  letter-spacing: 0;
  line-height: normal;
}

.regional-manager .text-wrapper-2 {
  position: absolute;
  top: 6px;
  left: 0;
  font-family: "Jua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.regional-manager .image {
  position: absolute;
  width: 48px;
  height: 53px;
  top: 4px;
  left: 57px;
  object-fit: cover;
}

.regional-manager .overlap {
  position: absolute;
  width: 219px;
  height: 894px;
  top: 130px;
  left: 0;
}


  
