.regional-manager-RT {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .regional-manager-RT .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1512px;
    height: 982px;
    position: relative;
  }
  
  .regional-manager-RT .top-banner {
    position: absolute;
    width: 1610px;
    height: 130px;
    top: 0;
    left: 0;
  }
  
  .regional-manager-RT .overlap-group {
    position: relative;
    height: 130px;
  }
  
  .regional-manager-RT .purple {
    position: absolute;
    width: 1440px;
    height: 130px;
    top: 0;
    left: 170px;
    background-color: #4e148c;
  }
  
  .regional-manager-RT .fedex-logo {
    position: absolute;
    width: 240px;
    height: 130px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .regional-manager-RT .symbols {
    position: absolute;
    width: 178px;
    height: 69px;
    top: 30px;
    left: 1300px;
  }
  
  .regional-manager-RT .text-wrapper {
    position: absolute;
    top: 0;
    left: 139px;
    font-family: "Jua-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 55px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .text-wrapper-2 {
    top: 6px;
    left: 0;
    font-family: "Jua-Regular", Helvetica;
    color: #ffffff;
    font-size: 48px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .image {
    position: absolute;
    width: 48px;
    height: 53px;
    top: 4px;
    left: 57px;
    object-fit: cover;
  }
  
  .regional-manager-RT .overlap {
    position: absolute;
    width: 219px;
    height: 894px;
    top: 130px;
    left: 0;
  }
  
  .regional-manager-RT .sidebar {
    position: absolute;
    width: 217px;
    height: 894px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
  }
  
  .regional-manager-RT .settings {
    position: absolute;
    width: 214px;
    height: 48px;
    top: 357px;
    left: 5px;
  }
  
  .regional-manager-RT .div-wrapper {
    position: relative;
    width: 212px;
    height: 48px;
    background-color: #ffffff;
  }
  
  .regional-manager-RT .text-wrapper-3 {
    position: absolute;
    width: 94px;
    top: 11px;
    left: 8px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .VT-tab {
    position: absolute;
    width: 214px;
    height: 48px;
    top: 306px;
    left: 5px;
  }
  
  .regional-manager-RT .overlap-2 {
    position: relative;
    width: 212px;
    height: 48px;
    background-color: #4e148c;
  }
  
  .regional-manager-RT .text-wrapper-4 {
    width: 160px;
    top: 12px;
    left: 8px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .dashboard-tab {
    position: absolute;
    width: 214px;
    height: 48px;
    top: 255px;
    left: 5px;
  }
  
  .regional-manager-RT .text-wrapper-5 {
    position: absolute;
    width: 184px;
    top: 12px;
    left: 8px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .regional-manager-RT .regional-manager {
    position: absolute;
    width: 214px;
    height: 36px;
    top: 201px;
    left: 3px;
  }
  
  .regional-manager-RT .overlap-3 {
    position: relative;
    width: 212px;
    height: 36px;
  }
  
  .regional-manager-RT .underline {
    position: absolute;
    width: 200px;
    height: 1px;
    top: 28px;
    left: 6px;
    object-fit: cover;
  }
  
  .regional-manager-RT .text-wrapper-6 {
    position: absolute;
    width: 212px;
    top: 0;
    left: 0;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .user-info {
    position: absolute;
    width: 192px;
    height: 180px;
    top: 19px;
    left: 10px;
  }
  
  .regional-manager-RT .overlap-4 {
    position: relative;
    width: 190px;
    height: 180px;
  }
  
  .regional-manager-RT .text-wrapper-7 {
    position: absolute;
    width: 137px;
    top: 147px;
    left: 31px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .user-image {
    position: absolute;
    width: 190px;
    height: 155px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .regional-manager-RT .scroll-bar {
    position: absolute;
    width: 34px;
    height: 861px;
    top: 130px;
    left: 1485px;
    background-color: #d9d9d9;
  }
  
  .regional-manager-RT .rectangle {
    position: absolute;
    width: 27px;
    height: 76px;
    top: 31px;
    left: 0;
  }
  
  .regional-manager-RT .overlap-5 {
    position: absolute;
    width: 489px;
    height: 153px;
    top: 134px;
    left: 220px;
  }
  
  .regional-manager-RT .search-bar {
    position: absolute;
    width: 457px;
    height: 105px;
    top: 0;
    left: 0;
  }
  
  .regional-manager-RT .overlap-6 {
    position: relative;
    width: 455px;
    height: 105px;
  }
  
  .regional-manager-RT .img {
    position: absolute;
    width: 437px;
    height: 48px;
    top: 28px;
    left: 18px;
  }
  
  .regional-manager-RT .magnifying-glass {
    position: absolute;
    width: 98px;
    height: 105px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .regional-manager-RT .p {
    position: absolute;
    width: 283px;
    top: 37px;
    left: 63px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #00000080;
    font-size: 27px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .regional-manager-RT .station-filter {
    position: absolute;
    width: 226px;
    height: 64px;
    top: 89px;
    left: 20px;
  }
  
  .regional-manager-RT .overlap-7 {
    position: relative;
    width: 224px;
    height: 64px;
  }
  
  .regional-manager-RT .station-filter-box {
    position: absolute;
    width: 224px;
    height: 41px;
    top: 11px;
    left: 0;
    background-color: #f96400;
    border-radius: 30px;
  }
  
  .regional-manager-RT .vector {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 25px;
    left: 200px;
  }
  
  .regional-manager-RT .text-wrapper-8 {
    position: absolute;
    width: 198px;
    height: 64px;
    top: 0;
    left: 12px;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .overlap-wrapper {
    position: absolute;
    width: 226px;
    height: 64px;
    top: 89px;
    left: 263px;
  }
  
  .regional-manager-RT .filter-options {
    position: absolute;
    width: 422px;
    height: 47px;
    top: 162px;
    left: 716px;
  }
  
  .regional-manager-RT .filter-options-2 {
    position: relative;
    height: 47px;
  }
  
  .regional-manager-RT .date-drop-down {
    position: absolute;
    width: 183px;
    height: 47px;
    top: 0;
    left: 241px;
  }
  
  .regional-manager-RT .overlap-group-2 {
    position: relative;
    width: 181px;
    height: 47px;
    background-color: #4e148c80;
    border-radius: 30px;
  }
  
  .regional-manager-RT .drop-down-icon {
    position: absolute;
    width: 22px;
    height: 25px;
    top: 12px;
    left: 147px;
  }
  
  .regional-manager-RT .text-wrapper-9 {
    position: absolute;
    width: 143px;
    top: 4px;
    left: 19px;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .regional-manager-RT .station-drop-down {
    position: absolute;
    width: 183px;
    height: 47px;
    top: 0;
    left: 50px;
  }
  
  .regional-manager-RT .overlap-8 {
    position: relative;
    width: 181px;
    height: 47px;
    background-color: #f96400;
    border-radius: 30px;
  }
  
  .regional-manager-RT .vector-2 {
    position: absolute;
    width: 37px;
    height: 34px;
    top: 7px;
    left: 0;
  }
  
  .regional-manager-RT .overlap-group-wrapper {
    position: absolute;
    width: 240px;
    height: 64px;
    top: 223px;
    left: 726px;
  }
  
  .regional-manager-RT .overlap-9 {
    position: relative;
    width: 238px;
    height: 64px;
  }
  
  .regional-manager-RT .station-filter-box-2 {
    width: 238px;
    background-color: #f96400;
    position: absolute;
    height: 41px;
    top: 11px;
    left: 0;
    border-radius: 30px;
  }
  
  .regional-manager-RT .vector-3 {
    position: absolute;
    width: 15px;
    height: 14px;
    top: 25px;
    left: 212px;
  }
  
  .regional-manager-RT .text-wrapper-10 {
    position: absolute;
    width: 210px;
    height: 64px;
    top: 0;
    left: 13px;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .station-filter-2 {
    position: absolute;
    width: 226px;
    height: 64px;
    top: 225px;
    left: 983px;
  }
  
  .regional-manager-RT .date-filter {
    position: absolute;
    width: 226px;
    height: 64px;
    top: 225px;
    left: 1226px;
  }
  
  .regional-manager-RT .station-filter-box-3 {
    width: 224px;
    background-color: #4e148c80;
    position: absolute;
    height: 41px;
    top: 11px;
    left: 0;
    border-radius: 30px;
  }
  
  .regional-manager-RT .tabs {
    position: absolute;
    width: 620px;
    height: 57px;
    top: 301px;
    left: 240px;
  }
  
  .regional-manager-RT .maintenance-use {
    position: absolute;
    width: 302px;
    height: 57px;
    top: 0;
    left: 320px;
  }
  
  .regional-manager-RT .overlap-group-3 {
    position: relative;
    width: 300px;
    height: 57px;
    background-image: url(./img/rectangle-84.svg);
    background-size: 100% 100%;
  }
  
  .regional-manager-RT .rectangle-2 {
    position: absolute;
    width: 300px;
    height: 14px;
    top: 43px;
    left: 0;
    background-color: #d9d9d9;
  }
  
  .regional-manager-RT .maintenance-use-2 {
    position: absolute;
    width: 243px;
    top: 12px;
    left: 28px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 27px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .overlap-10 {
    position: absolute;
    width: 320px;
    height: 57px;
    top: 0;
    left: 0;
  }
  
  .regional-manager-RT .route-tracking {
    width: 302px;
    height: 57px;
    top: 0;
    position: absolute;
    left: 0;
  }
  
  .regional-manager-RT .overlap-11 {
    position: relative;
    width: 300px;
    height: 57px;
    background-image: url(./img/rectangle-82.svg);
    background-size: 100% 100%;
  }
  
  .regional-manager-RT .rectangle-3 {
    position: absolute;
    width: 300px;
    height: 14px;
    top: 43px;
    left: 0;
    background-color: #4e148c;
  }
  
  .regional-manager-RT .text-wrapper-11 {
    position: absolute;
    width: 227px;
    top: 12px;
    left: 36px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 27px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .rectangle-4 {
    position: absolute;
    width: 20px;
    height: 14px;
    top: 43px;
    left: 300px;
    background-color: #4e148c;
  }
  
  .regional-manager-RT .sample-vehicle {
    position: absolute;
    width: 466px;
    height: 59px;
    top: 374px;
    left: 240px;
  }
  
  .regional-manager-RT .text-wrapper-12 {
    width: 464px;
    top: 0;
    left: 0;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 40px;
    position: absolute;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .overlap-12 {
    position: absolute;
    width: 1098px;
    height: 534px;
    top: 433px;
    left: 240px;
  }
  
  .regional-manager-RT .map {
    position: absolute;
    width: 513px;
    height: 524px;
    top: 0;
    left: 0;
  }
  
  .regional-manager-RT .overlap-13 {
    position: relative;
    width: 497px;
    height: 524px;
    background-color: #d9d9d9;
    background-image: url(./img/map.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .regional-manager-RT .overlap-14 {
    position: absolute;
    width: 124px;
    height: 156px;
    top: 176px;
    left: 129px;
  }
  
  .regional-manager-RT .overlap-15 {
    position: absolute;
    width: 124px;
    height: 18px;
    top: 0;
    left: 0;
  }
  
  .regional-manager-RT .route-tracker {
    width: 108px;
    height: 2px;
    top: 9px;
    position: absolute;
    left: 0;
  }
  
  .regional-manager-RT .ellipse {
    width: 18px;
    height: 18px;
    left: 106px;
    background-color: #000000;
    border-radius: 9.03px;
    position: absolute;
    top: 0;
  }
  
  .regional-manager-RT .route-tracker-2 {
    position: absolute;
    width: 2px;
    height: 137px;
    top: 10px;
    left: 0;
  }
  
  .regional-manager-RT .overlap-16 {
    position: absolute;
    width: 61px;
    height: 18px;
    top: 138px;
    left: 0;
  }
  
  .regional-manager-RT .route-tracker-3 {
    position: absolute;
    width: 52px;
    height: 2px;
    top: 9px;
    left: 0;
  }
  
  .regional-manager-RT .ellipse-2 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 43px;
    background-color: #000000;
    border-radius: 9.03px;
  }
  
  .regional-manager-RT .location-arrows {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 480px;
    left: 457px;
    background-color: #9b9b9b;
    border-radius: 18.06px;
  }
  
  .regional-manager-RT .overlap-group-4 {
    position: relative;
    width: 24px;
    height: 23px;
    top: 6px;
    left: 6px;
  }
  
  .regional-manager-RT .arrow-g {
    position: absolute;
    width: 7px;
    height: 12px;
    top: 0;
    left: 9px;
  }
  
  .regional-manager-RT .arrow-g-2 {
    position: absolute;
    width: 12px;
    height: 7px;
    top: 8px;
    left: 0;
  }
  
  .regional-manager-RT .arrow-g-3 {
    position: absolute;
    width: 13px;
    height: 7px;
    top: 8px;
    left: 12px;
  }
  
  .regional-manager-RT .arrow-g-4 {
    position: absolute;
    width: 7px;
    height: 11px;
    top: 12px;
    left: 9px;
  }
  
  .regional-manager-RT .plus-wrapper {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 433px;
    left: 457px;
    background-image: url(./img/ellipse-11.svg);
    background-size: 100% 100%;
  }
  
  .regional-manager-RT .plus {
    position: absolute;
    width: 24px;
    height: 5px;
    top: 15px;
    left: 6px;
  }
  
  .regional-manager-RT .overlap-17 {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 386px;
    left: 457px;
    background-color: #9b9b9b;
    border-radius: 18.06px;
  }
  
  .regional-manager-RT .plus-2 {
    position: absolute;
    width: 5px;
    height: 24px;
    top: 7px;
    left: 15px;
  }
  
  .regional-manager-RT .route-tracker-4 {
    position: absolute;
    width: 872px;
    height: 528px;
    top: 6px;
    left: 226px;
  }
  
  .regional-manager-RT .overlap-18 {
    position: relative;
    width: 877px;
    height: 528px;
  }
  
  .regional-manager-RT .route-tracker-5 {
    position: absolute;
    width: 5px;
    height: 506px;
    top: 15px;
    left: 482px;
  }
  
  .regional-manager-RT .route-stop {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 496px;
    left: 468px;
    background-color: #1e1e1e;
    border-radius: 16px;
  }
  
  .regional-manager-RT .routestop {
    position: absolute;
    width: 67px;
    height: 78px;
    top: 372px;
    left: 468px;
  }
  
  .regional-manager-RT .miles-btwn-stop {
    position: absolute;
    width: 49px;
    height: 1px;
    top: 77px;
    left: 18px;
    object-fit: cover;
  }
  
  .regional-manager-RT .route-stop-2 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    border-radius: 16px;
  }
  
  .regional-manager-RT .route-beginning {
    width: 786px;
    height: 195px;
    top: 0;
    position: absolute;
    left: 0;
  }
  
  .regional-manager-RT .beginning-location {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 468px;
    background-color: #1e1e1e;
    border-radius: 16px;
  }
  
  .regional-manager-RT .text-wrapper-13 {
    position: absolute;
    width: 264px;
    top: 0;
    left: 516px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .text-wrapper-14 {
    width: 64px;
    top: 3px;
    left: 392px;
    font-family: "Arial-Regular", Helvetica;
    color: #000000;
    font-size: 24px;
    text-align: right;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .text-wrapper-15 {
    position: absolute;
    width: 101px;
    top: 57px;
    left: 547px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .distance-btwn-start {
    position: absolute;
    width: 49px;
    height: 1px;
    top: 71px;
    left: 486px;
    object-fit: cover;
  }
  
  .regional-manager-RT .beginning-location-2 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 163px;
    left: 0;
    background-color: #1e1e1e;
    border-radius: 16px;
  }
  
  .regional-manager-RT .route-stop-3 {
    position: absolute;
    width: 485px;
    height: 96px;
    top: 124px;
    left: 392px;
  }
  
  .regional-manager-RT .div-2 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 76px;
    background-color: #1e1e1e;
    border-radius: 16px;
  }
  
  .regional-manager-RT .distance-betwen-stop {
    position: absolute;
    width: 49px;
    height: 1px;
    top: 82px;
    left: 94px;
    object-fit: cover;
  }
  
  .regional-manager-RT .text-wrapper-16 {
    position: absolute;
    width: 355px;
    top: 0;
    left: 124px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .text-wrapper-17 {
    width: 64px;
    top: 3px;
    left: 0;
    font-family: "Arial-Regular", Helvetica;
    color: #000000;
    font-size: 24px;
    text-align: right;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .text-wrapper-18 {
    position: absolute;
    width: 101px;
    top: 69px;
    left: 155px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .route-stop-4 {
    position: absolute;
    width: 484px;
    height: 77px;
    top: 248px;
    left: 392px;
  }
  
  .regional-manager-RT .miles-between-stop {
    position: absolute;
    width: 49px;
    height: 1px;
    top: 76px;
    left: 94px;
    object-fit: cover;
  }
  
  .regional-manager-RT .text-wrapper-19 {
    position: absolute;
    width: 355px;
    top: 0;
    left: 125px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .regional-manager-RT .text-wrapper-20 {
    width: 64px;
    top: 1px;
    left: 0;
    font-family: "Arial-Regular", Helvetica;
    color: #000000;
    font-size: 24px;
    text-align: right;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  